{% extends 'base_generic.html' %}
{% load static %}

{% block main %}
        <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="{% url 'mcshop:home' %}">Главная</a></li>
                                <li><span>Корзина</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-3">
                        <div class="cart-content p-3 h-100 bg-white">
                            <div class="table-responsive" id="cart-items-container-1">
                                {% include 'includes/included_cart_main_part_1.html' %}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3" id="cart-items-container-2">
                        {% include 'includes/included_cart_main_part_2.html' %}
                    </div>
                </div>
            </div>

        </main>
{% endblock %}