{% extends 'base_generic.html' %}
{% load static %}

{% block main %}
        <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="\templates\home.html">Главная</a></li>
                                <li><span>Оплата и доставка</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container">

                <h1 class="section-title h4">
                    <span>Вопросы по оплате</span>
                </h1>

                <div class="question-answer">
                    <div class="question">
                        Q. Могу я оплатить товар в самом магазине?
                    </div>
                    <div class="answer">
                        A. Да, Вы можете оплатить компьютер или другой товар
                        непосредственно в кассе магазина. Осуществив платеж,
                        вы получаете полный комплект документов: кассовый чек,
                        расходную накладную и гарантийный талон. Цены в нашем
                        интернет-магазине окончательные: без дополнительных комиссий,
                        включая все налоги.<br>
                        Доступные способы расчета:<br>
                        <i class="fa-solid fa-check" style="color: rgb(127, 205, 10);"></i>Оплата наличными<br>
                        <i class="fa-solid fa-check" style="color: rgb(127, 205, 10);"></i>Оплата банковской картой
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Как проходит оплата через интернет-магазин?
                    </div>
                    <div class="answer">
                        A. После оформления заказа в нашем магазине вы получите
                        электронное письмо (на указанную почту) с ссылкой на
                        защищенную страницу оплаты заказа. Там Вам будет
                        предложено ввести данные пластиковой карты, инициировать
                        ее авторизацию.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Можно ли оплатить переводом на счет?
                    </div>
                    <div class="answer">
                        A. Да, после согласования всех деталей заказа вы получите
                        счёт. Его можно будет оплатить в любом банке.
                        Наш специалист предварительно проверит конфигурацию,
                        наличие и прочие детали заказа. При отправке по миру сразу
                        будет добавлена стоимость доставки прямо по указанному адресу.
                        Чтобы ускорить выполнение заказа, лучше сообщите нам о
                        произведенной оплате по телефону или электронной почте.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Возможна ли безналичная оплата для юридических лиц?
                    </div>
                    <div class="answer">
                        A. Да, имеется возможность использовать безналичный способ
                        оплаты. После согласования деталей заказа вы получите счёт
                        для оплаты. Заказ будет отгружен в оговоренный срок с момента
                        поступления денежных средств на наш расчетный счет. Вместе с
                        товаром клиент получит оригинал счета, счет-фактуру, товарную
                        накладную и гарантийный талон.
                    </div>
                </div>
                
            </div>

            <div class="container">

                <h1 class="section-title h4">
                    <span>Вопросы по доставке</span>
                </h1>

                <div class="question-answer">
                    <div class="question">
                        Q. Когда я смогу получить компьютер?
                    </div>
                    <div class="answer">
                        A. Весь цикл производства компьютера в среднем
                        занимает 5-7 дней, потом он будет доставлен к
                        вам нашей курьерской службой или курьером ТК
                        (зависит от локации клиента). Забрать заказ
                        также можно самостоятельно из офиса в Москве.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Доставляете ли вы компьютеры в другие страны?
                    </div>
                    <div class="answer">
                        A. Несколько тысяч наших компьютеров уже используются
                        не только в России, но и по всему миру Стоимость
                        доставки расcчитывается индивидуально.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Будет ли производится установка и подключение компьютера/ноутбука в момент доставки?
                    </div>
                    <div class="answer">
                        A. Подключение и установка компьютера/ноутбука
                        доступна жителям Москвы и Московской области.
                        При доставке транспортными компаниями в другие
                        регионы установка и подключение не осуществляется.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Какие транспортные компании осуществляют доставку?
                    </div>
                    <div class="answer">
                        A. Мы осуществляем доставку следующими транспортными компаниями:<br>
                        <i class="fa-regular fa-circle-check"></i>Яндекс.Доставка;<br>
                        <i class="fa-regular fa-circle-check"></i>CDEK;<br>
                        <i class="fa-regular fa-circle-check"></i>Деловые Линии;<br>
                        <i class="fa-regular fa-circle-check"></i>КСЭ;<br>
                        <i class="fa-regular fa-circle-check"></i>DPD.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Могу ли я сам забрать товар из вашего магазина?
                    </div>
                    <div class="answer">
                        A. Да, в нашем фирменном магазине.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Как будет упакован мой компьютер?
                    </div>
                    <div class="answer">
                        A. При доставке по Москве и Московской области ваш
                        компьютер будет упакован в стандартную фирменную упаковку.
                        При доставке по России ваш компьютер будет помещен
                        в пенопакет-трансформер, а сам ПК будет упакован в
                        фирменную упаковку и помещен в жесткий деревянный
                        короб. Последний используется только для транспортировки
                        между терминалами. За дополнительную плату вы можете
                        заказать эксклюзивный деревянный ящик HYPERPC.
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        Q. Каковы гарантии, что мой ПК доедет в целости и сохранности?
                    </div>
                    <div class="answer">
                        A. Мы гарантируем надежную и своевременную доставку вашего заказа:<br>
                        <i class="fa-solid fa-check"></i>Все доставляемые компьютеры укомплектовываются специальным транспортировочным пенопакетом. Он заполняет внутреннее пространство корпуса, тем самым гарантируя сохранность комплектующих при тряске;<br>
                        <i class="fa-solid fa-check"></i>Все отправления полностью застрахованы от какого-либо вреда во время транспортировки;<br>
                        <i class="fa-solid fa-check"></i>Все компоненты заказа помещаются в дополнительную упаковку транспортной компанией.
                    </div>
                </div>

            </div>

        </main>
{% endblock %}

{% block script %}
        fetch('/static/js/countries.json')
            .then((res) => res.json())
            .then((json) => {
                let html = '';
                json['countries'].forEach((el) => {
                    html += `<option value="${el.code}" ${el.code === 'RU' ? 'selected' : ''}>${el.name}</option>`;
                });
                document.getElementById('country').innerHTML = html
            });
{% endblock %}