{% extends 'base_generic.html' %}
{% load static %}


{% block main %}
    <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="{% url 'mcshop:home' %}">Главная</a></li>
                                <li><span>{{ products.name }}</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
            <div class="container">

                <div class="row">
                    <div class="col-md-5 col-lg-4 mb-3">
                        <div class="bg-white h-100">
                            <div id="carousel" class="carousel slide carousel-fade custom-carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-wrapper">
                                        {% for image in images %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <img src="{{ image.image.url }}" class="d-block w-100" alt="1">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Пред.</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">След.</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-8 mb-3">
                        <div class="bg-white product-content p-3 h-100">
                            <h1 class="section-title h3">
                                <span>
                                    {{ products.name }}
                                </span>
                            </h1>

                            <div class="product-detail-price">
                                {{ products.price }}₽
                            </div>

                            <p>{{ products.description }}</p>
                            
                            <div class="row">
                                <div class="col-6 d-flex justify-content-start">
                                    <div class="product-prepare-info mb-3">
                                        <a class="btn btn-light" href="{% url 'mcuser:pay' %}">
                                            <i class="fa-regular fa-clock"></i>
                                            На заказ 3-4 дня
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <div class="product-add2cart mb-3">
                                        <div class="input-group">
                                            <label class="d-none">
                                                <input type="number" class="form-control" name="name" min="1" value="1">
                                            </label>
                                            <button class="btn btn-dark">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                В корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6 custom-pb">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <i class="fa-solid fa-shield-halved"></i>
                                                Гарантия
                                            </h5>
                                            <ul class="list-unstyled">
                                                <li><i class="fa-solid fa-check"></i>Все наши компьютеры имеют гарантию 1 год</li>
                                                <li><i class="fa-solid fa-check"></i>Возможность возврата в течение 14 дней</li>
                                                <li><i class="fa-solid fa-check"></i>Возможность увеличения срока гарантии</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <i class="fa-solid fa-truck-fast"></i>
                                                Доставка
                                            </h5>
                                            <ul class="list-unstyled">
                                                <li><i class="fa-solid fa-check"></i>Доставка курьером до дома</li>
                                                <li><i class="fa-solid fa-check"></i>Доставка по почте</li>
                                                <li><i class="fa-solid fa-check"></i>Самовывоз</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-lg-8 mb-3">
                        <div class="bg-white product-content p-3 h-100">
                            <div class="card my-3">
                                <div class="card-body">
                                    <h5 class="card-title">Комплектующие</h5>
                                    <ul class="list-unstyled">
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>Видеокарта:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.graphic_card }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>Процессор:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.processor }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>Материнская плата:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.motherboard }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>Оперативная память:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.ram }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>SSD накопитель:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.ssd }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser">
                                                <span>Блок питания:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.power_unit }}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 mb-3">
                        <div class="bg-white product-content p-3 h-100">
                            <div class="card my-3">
                                <div class="card-body">
                                    <h5 class="card-title">Персонализация</h5>
                                    <ul class="list-unstyled">
                                        <li class="list-elements">
                                            <div class="card-teaser mb-2">
                                                <span>Корпус:</span>
                                            </div>
                                            <div class="card-description">
                                                {{ products.pc_case }}
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser mb-2">
                                                <span>Подсветка:</span>
                                            </div>
                                            <div class="card-description">
                                                Переключаемая RGB
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser mb-2">
                                                <span>Термоинтерфейс:</span>
                                            </div>
                                            <div class="card-description">
                                                Термопаста Arctic MX-4
                                            </div>
                                        </li>
                                        <li class="list-elements">
                                            <div class="card-teaser mb-2">
                                                <span>Прочее:</span>
                                            </div>
                                            <div class="card-description">
                                                Пакет документов
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <section class="new-products">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-12 mb">
                                <h2 class="section-title">
                                    <span>Рекомендуемые товары</span>
                                </h2>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="owl-carousel owl-theme owl-carousel-full col-lg-3 col-md-4 col-sm-6 mb-3">
                                {% for recommend in recomended %}
                                <div class="product-card">
                                    <div class="product-thumb">
                                        <a href="{% url 'mcshop:product_detail' recommend.slug  %}">
                                            <img src="{{ recommend.image.url }}" alt="1">
                                        </a>
                                    </div>

                                    <div class="product-details">
                                        <h4>
                                            <a href="{% url 'mcshop:product_detail' recommend.slug  %}">
                                                {{ recommend.name }}
                                            </a>
                                        </h4>
                                        <p class="product-excerpt">{{ recommend.description }}</p>
                                        <div class="product-bottom-details d-flex justify-content-between">
                                            <div class="product-price">
                                                {{ recommend.price }}₽
                                            </div>
                                            <div class="product-links">
                                                <a href="#" class="btn btn-outline-light add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
    
                    </div>
                </section>
            </div>

        </main>
{% endblock %}


