{% extends 'mcshop/pc_models_pages/base.html' %}
{% load static %}


{% block series_name %}Мощные{% endblock %}
{% block responsive_series_name %}МОЩНЫЕ ИГРОВЫЕ КОМПЬЮТЕРЫ{% endblock %}
{% block responsive_p %}
    Мощные игровые компьютеры для максимальных настроек графики в играх отлично подходят для киберспортивных игроков и геймеров,
    ценящих плавность игрового процесса с высоким FPS на максимальных графических настройках
{% endblock %}
{% block series_styles %}

    .responsive {
        background-image: url({% static 'images/main-background.jpg' %});
    }

    @media (max-width: 991.98px) {
        .responsive {
            height: 800px;
        }
    }

    @media (min-width: 992px) {
        .responsive {
            height: 700px;
        }
    }

    .text-responsive {
        margin-bottom: 0px;
    }

{% endblock %}

{% block product-content %}
    <div class="notebook-image text-center">
        <picture>
            <img src="{% static 'images/for-powerful-update.png' %}" style="aspect-ratio: auto 1239 / 699" alt="1">
        </picture>
    </div>
{% endblock %}

{% block content %}
            <section class="model_alpha">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12 mb">
                            <h2 class="section-title">
                                <span>Серия {{ alpha_series.name }}</span>
                            </h2>
                            <div class="series-title m-1 p-4">
                                <p>{{ alpha_series.description }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="model-cards row">
                        {% for product in alpha_products %}
                            <div class="alpha col-md-4 col-sm-6 col-12">
                            <div id="carouselSigma" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ product.image.url }}" class="d-block w-100" alt="1">
                                    </div>
                              </div>
                            </div>
                            <div class="avg-fps-bar mt-2">
                                <div class="avg-fps-value">
                                    AVG.FPS - {{ product.avg_fps }}
                                </div>
                                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px; --bs-progress-bar-bg: #712cf9">
                                    <div class="progress-bar" style="width: 44%"></div>
                                </div>
                            </div>
                            <div class="card-series-title row">
                                <div class="card-naming justify-content-start col-8">
                                    {{ product.name }}
                                </div>
                                <div class="card-price d-flex justify-content-end col-4">
                                    Цена {{ product.price }} ₽
                                </div>
                                <div class="details-button col-6 d-flex justify-content-start">
                                    <a class="btn btn-dark" href="{% url 'mcshop:product_detail' product.slug  %}">
                                        Подробнее
                                    </a>
                                </div>
                                <div class="product-add2cart col-6 d-flex justify-content-end">
                                    <a href="{% url 'mcshop:cart_add' %}" class="btn btn-dark add-to-cart" data-product-id="{{ product.id }}">
                                        {% csrf_token %}
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        В корзину
                                    </a>
                                </div>
                            </div>
                            <div class="card-series-main mt-3 row">

                                <div class="card-description-main col-12">
                                    {{ product.description }}
                                </div>
{#                                <div class="product-add2config col-6 d-flex justify-content-start pt-5">#}
{#                                    <button class="btn btn-dark">#}
{#                                        <i class="fa-solid fa-gear"></i>#}
{#                                        <a class="cards-anchor" href="{% url 'mcshop:configurator' %}">Конфигуратор</a>#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                            <div class="card-series-description">
                                <div class="card custom-card my-3">
                                        <div class="card-body">
                                            <h5 class="card-title">Комплектующие</h5>
                                            <ul class="list-unstyled">
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Видеокарта:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.graphic_card }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Процессор:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.processor }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Материнская плата:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.motherboard }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Оперативная память:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ram }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>SSD накопитель:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ssd }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Блок питания:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.power_unit }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </section>

            <section class="model_gamma">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12 mb">
                            <h2 class="section-title">
                                <span>Серия {{ gamma_series.name }}</span>
                            </h2>
                            <div class="series-title m-1 p-4">
                                <p>{{ gamma_series.description }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="model-cards row">
                        {% for product in gamma_products %}
                            <div class="gamma col-md-4 col-sm-6 col-12">
                            <div id="carouselGamma" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ product.image.url }}" class="d-block w-100" alt="1">
                                    </div>
                              </div>
                            </div>
                            <div class="avg-fps-bar mt-2">
                                <div class="avg-fps-value">
                                    AVG.FPS - {{ product.avg_fps }}
                                </div>
                                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px; --bs-progress-bar-bg: #712cf9">
                                    <div class="progress-bar" style="width: 44%"></div>
                                </div>
                            </div>
                            <div class="card-series-title row">
                                <div class="card-naming justify-content-start col-8">
                                    {{ product.name }}
                                </div>
                                <div class="card-price d-flex justify-content-end col-4">
                                    Цена {{ product.price }} ₽
                                </div>
                                <div class="details-button col-6 d-flex justify-content-start">
                                    <a class="btn btn-dark" href="{% url 'mcshop:product_detail' product.slug  %}">
                                        Подробнее
                                    </a>
                                </div>
                                <div class="product-add2cart col-6 d-flex justify-content-end">
                                    <a href="{% url 'mcshop:cart_add' %}" class="btn btn-dark add-to-cart" data-product-id="{{ product.id }}">
                                        {% csrf_token %}
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        В корзину
                                    </a>
                                </div>
                            </div>
                            <div class="card-series-main mt-3 row">

                                <div class="card-description-main col-12">
                                    {{ product.description }}
                                </div>
{#                                <div class="product-add2config col-6 d-flex justify-content-start pt-5">#}
{#                                    <button class="btn btn-dark">#}
{#                                        <i class="fa-solid fa-gear"></i>#}
{#                                        <a class="cards-anchor" href="{% url 'mcshop:configurator' %}">Конфигуратор</a>#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                            <div class="card-series-description">
                                <div class="card custom-card my-3">
                                        <div class="card-body">
                                            <h5 class="card-title">Комплектующие</h5>
                                            <ul class="list-unstyled">
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Видеокарта:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.graphic_card }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Процессор:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.processor }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Материнская плата:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.motherboard }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Оперативная память:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ram }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>SSD накопитель:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ssd }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Блок питания:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.power_unit }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="model_delta">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12 mb">
                            <h2 class="section-title">
                                <span>Серия {{ delta_series.name }}</span>
                            </h2>
                            <div class="series-title m-1 p-4">
                                <p>{{ delta_series.description }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="model-cards row">
                        {% for product in delta_products %}
                            <div class="delta col-md-4 col-sm-6 col-12">
                            <div id="carouselDelta" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ product.image.url }}" class="d-block w-100" alt="1">
                                    </div>
                              </div>
                            </div>
                            <div class="avg-fps-bar mt-2">
                                <div class="avg-fps-value">
                                    AVG.FPS - {{ product.avg_fps }}
                                </div>
                                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px; --bs-progress-bar-bg: #712cf9">
                                    <div class="progress-bar" style="width: 44%"></div>
                                </div>
                            </div>
                            <div class="card-series-title row">
                                <div class="card-naming justify-content-start col-8">
                                    {{ product.name }}
                                </div>
                                <div class="card-price d-flex justify-content-end col-4">
                                    Цена {{ product.price }} ₽
                                </div>
                                <div class="details-button col-6 d-flex justify-content-start">
                                    <a class="btn btn-dark" href="{% url 'mcshop:product_detail' product.slug  %}">
                                        Подробнее
                                    </a>
                                </div>
                                <div class="product-add2cart col-6 d-flex justify-content-end">
                                    <a href="{% url 'mcshop:cart_add' %}" class="btn btn-dark add-to-cart" data-product-id="{{ product.id }}">
                                        {% csrf_token %}
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        В корзину
                                    </a>
                                </div>
                            </div>
                            <div class="card-series-main mt-3 row">

                                <div class="card-description-main col-12">
                                    {{ product.description }}
                                </div>
{#                                <div class="product-add2config col-6 d-flex justify-content-start pt-5">#}
{#                                    <button class="btn btn-dark">#}
{#                                        <i class="fa-solid fa-gear"></i>#}
{#                                        <a class="cards-anchor" href="{% url 'mcshop:configurator' %}">Конфигуратор</a>#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                            <div class="card-series-description">
                                <div class="card custom-card my-3">
                                        <div class="card-body">
                                            <h5 class="card-title">Комплектующие</h5>
                                            <ul class="list-unstyled">
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Видеокарта:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.graphic_card }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Процессор:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.processor }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Материнская плата:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.motherboard }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Оперативная память:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ram }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>SSD накопитель:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ssd }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Блок питания:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.power_unit }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
{% endblock %}


