{% extends 'base_generic.html' %}
{% load static %}

{% block main %}
        <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="{% url 'mcshop:home' %}">Главная</a></li>
                                <li><span>Личный кабинет</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container mb-3">
                <div class="row">
                    <div class="profile-info-first col-sm-4 col-12 text-start">
                        <form action="{% url 'mcuser:profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if user.image %}
                                <div class="profile-img d-block w-100 p-3">
                                    <h2 class="pb-2">Профиль пользователя</h2>
                                    <img src="{{ user.image.url }}" alt="1">
                                    <input type="file" class="form-control mt-3" id="image" name="id_image" accept="image/*">
                                </div>
                            {% else %}
                                <div class="profile-img d-block w-100 p-3">
                                    <h2 class="pb-2">Профиль пользователя</h2>
                                    <img src="{% static 'images/users_images/placeholder.png' %}" alt="1">
                                    <input type="file" class="form-control mt-3" id="image" name="id_image" accept="image/*">
                                    {% if form.image.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="id_username" class="form-label">Имя пользователя*</label>
                                <input type="text" class="form-control"
                                       value="{{ form.username.value }}"
                                       name="username" id="id_username"
                                       placeholder="Введите имя пользователя"
                                       required>
                                        {% if form.username.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                        {% endif %}
                                            </div>
                            <div class="mb-3">
                                <label for="id_first_name" class="form-label">Имя*</label>
                                <input type="text" class="form-control"
                                       value="{{ form.first_name.value }}"
                                       name="first_name" id="id_first_name"
                                       placeholder="Введите ваше имя"
                                       required>
                                        {% if form.first_name.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                        {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*</label>
                                <input type="text" class="form-control"
                                       value="{{ form.last_name.value }}"
                                       name="last_name" id="id_last_name"
                                       placeholder="Введите вашу фамилию"
                                       required>
                                       {% if form.last_name.errors %}
                                           <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                       {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control"
                                       value="{{ form.email.value }}"
                                       name="email" id="id_email"
                                       placeholder="Введите email"
                                       required>
                                {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3 text-end">
                                <button type="submit" class="btn btn-dark">Сохранить</button>
                            </div>
                        </form>
                    </div>
                    <div class="profile-info col-sm-8 col-12">
                        <div class="cart-content p-3 h-100 bg-white">
                            <div class="table-responsive" id="cart-items-container-1">
                                {% include 'includes/included_cart_main_part_1.html' %}
                            </div>
                            <div id="cart-items-container">
                                {% include 'includes/included_cart_main_part_2.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
{% endblock %}