{% extends 'base_generic.html' %}
{% load static %}

{% block main %}
        <main class="main">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="{% url 'mcshop:home' %}">Главная</a></li>
                                <li><span>Публичная оферта</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container">

                <h1 class="section-title h4">
                    <span>Публичная оферта о продаже товаров дистанционным образом</span>
                </h1>

                <div class="question-answer">
                    <div class="question">
                        1. Термины и определения
                    </div>
                    <div class="answer">
                        В настоящей оферте, если из контекста не следует иное, нижеприведенные термины имеют следующие значения и являются её составной неотъемлемой частью:<br>
                        1.1. «Продавец» - юридическое лицо, созданное в соответствии с законодательством Российской Федерации и осуществляющее предпринимательскую деятельность по продаже Товаров, в том числе дистанционным способом. Продавец также является производителем части Товаров, размещенных на Сайте.<br>
                        1.2. «Покупатель», «Пользователь» - любое физическое лицо, принявшее (акцептовавшее) настоящую оферту на нижеуказанных условиях и предоставившее Продавцу свои персональные данные посредством регистрации на Сайте, которые могут быть использованы Продавцом для оформления Заказа Покупателя, его доставки, оформления послепродажного обслуживания Товара.<br>
                        1.3. «Интернет-магазин» - официальный интернет-магазин Продавца по продаже Товаров, размещенных на Сайте и предлагаемых Продавцом Покупателям для оформления Заказов, а также условия оплаты и доставки этих заказов потребителям.<br>
                        1.4. «Товары» - товары Продавца, представленные на Сайте, в том числе Товары, изготовляемые Продавцом на основании Заказа Покупателя. К Товарам также относится реализуемые экземпляры программного обеспечения на материальных носителях – «коробочная версия».<br>
                        1.5. «Программное обеспечение» - программы для электронно-вычислительных машин (ЭВМ), полученные Продавцом от правообладателей на основании лицензионных соглашений и установленные Продавцом на заказанные Покупателем Товары.<br>
                        1.6. «Заказ» - оформленный Покупателем в Интернет-магазине запрос на покупку, изготовление и доставку Товаров, выбранных Покупателем в Интернет-магазине, и предоставленный Продавцу посредством сети Интернет (электронная форма «Корзина», размещенная на Сайте) или оформленный Покупателем по телефону.<br>
                        1.7. «Пункт выдачи Заказа» — место выдачи Заказа и проведения взаиморасчётов за приобретенный Товар с Покупателем.<br>
                        1.8. «Служба доставки» («Курьерская служба») — третье лицо, оказывающее по договору с Продавцом услуги по доставке заказанных Товаров Покупателям.<br>
                        1.9. Для целей настоящей оферты термины и определения в единственном числе относятся также и к терминам и определениям во множественном числе и наоборот.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        2. Общие положения
                    </div>
                    <div class="answer">
                        2.2. Продавец и Покупатель гарантируют, что обладают необходимой право- и дееспособностью, а также всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения Договора розничной купли-продажи Товара.<br>
                        2.3. Заказывая Товары через Интернет-магазин, Покупатель безоговорочно принимает условия настоящей оферты. Оформленный Покупателем на сайте или по телефону Заказ Товара является подтверждением заключенного между Продавцом и Покупателем Договора. Покупатель соглашается с настоящими Условиями нажатием кнопки «Подтвердить заказ» на последнем этапе оформления Заказа на сайте.<br>
                        2.4. К отношениям между Покупателем и Продавцом применяется положения ГК РФ (в т.ч. положение о розничной купле-продаже (глава 30, § 2), Закон РФ «О защите прав потребителей» от 07.02.1992 г. № 2300-1 и иные нормативно-правовые акты действующего законодательства Российской Федерации (далее по тексту настоящей оферты – «РФ»).<br>
                        2.5. Продавец оставляет за собой право вносить изменения в настоящую оферту, в связи с чем Покупатель обязуется самостоятельно контролировать наличие изменений в настоящей оферте, размещенной на Сайте. Уведомление об изменении настоящей оферты Продавец обязан разместить на Сайте в виде информационного сообщения не позднее, чем за 3 (Три) рабочих дня до даты их вступления в силу. Действующая редакция настоящей оферты всегда находится на web-странице по адресу /user/public_offer/<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        3. Предмет Договора
                    </div>
                    <div class="answer">
                        3.1. Продавец осуществляет для Покупателей следующие виды деятельности:<br>
                            a. Оформление Заказа по телефону, так и посредством Сайта/Интернет-магазина Продавца;<br>
                            b. Изготовление Товара в соответствии с Заказом Покупателя;<br>
                            c. Доставку Товаров по адресу Покупателя на условиях, указанных в настоящей оферте.<br>
                        3.2. Продавец продает Товары по ценам, указанным на Сайте, а Покупатель производит оплату и принимает Товары в соответствии с условиями настоящей оферты.<br>
                        3.3. Право собственности на Товары переходит к Покупателю в момент приемки Товаров Покупателем и оплаты последним полной стоимости принятых Товаров. Риск случайной гибели или повреждения Товаров переходит к Покупателю с момента приемки Товаров Покупателем.<br>
                        3.4. Услуги Курьерской службы Продавца осуществляются на платной основе для Покупателя. Стоимость доставки по каждому Заказу и другие существенные моменты озвучивает Продавец непосредственно при оформлении Заказа. Покупатель вправе не оплачивать услуги по доставке и осуществить самовывоз Товара из магазина Продавца по адресу: пр. Мира, 68/19, Набережные Челны, Респ. Татарстан, 423810<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        4. Права и обязанности сторон
                    </div>
                    <div class="answer">
                        4.1. Продавец обязуется:<br>
                            4.1.1. с момента принятия настоящей оферты обеспечить исполнение своих обязательств перед Покупателем на условиях, установленных настоящей офертой и в соответствии с требованиями действующего законодательства РФ. Продавец оставляет за собой право отказаться от исполнения своих обязательств в случае возникновения обстоятельств непреодолимой силы (“форс-мажор”);<br>
                            4.1.2. обрабатывать и хранить персональные данные Покупателя, предоставленные Продавцу. Обеспечить их конфиденциальность и не предоставлять доступ к этой информации третьим лицам, за исключением случаев, предусмотренных действующим законодательством РФ. Принимая (акцептируя) настоящую оферту, Покупатель подтверждает свое согласие и разрешает Продавцу обрабатывать свои персональные данные, в том числе: фамилию, имя; адрес доставки; телефон; адрес электронной почты. Под обработкой персональных данных в настоящей оферте понимается: сбор вышеуказанных данных, их систематизация, накопление, хранение, уточнение (обновление, изменение), использование, блокирование, уничтожение.<br>
                                4.1.2.1. Продавец имеет право на передачу персональных данных Покупателя Курьерской службе с целью доставки Покупателю заказанных последним Товаров.<br>
                                4.1.2.2. Покупатель выражает согласие и разрешает Продавцу и его службам обрабатывать персональные данные Покупателя с помощью автоматизированных систем управления базами данных, а также иных программных и технических средств.<br>
                                4.1.2.3. Продавец вправе самостоятельно определять используемые способы обработки персональных данных Покупателя (включая, но, не ограничиваясь: автоматическая сверка почтовых кодов с базой кодов/индексов, автоматическая проверка написания улиц/населенных пунктов, сегментация базы данных по заданным критериям и т.д.).<br>
                                4.1.2.4. Продавец обеспечивает конфиденциальность предоставленных Покупателем персональных данных, их защиту от копирования, распространения в соответствии с Политикой конфиденциальности Продавца, размещенной на Сайте. В любой момент Покупатель вправе запросить перечень своих персональных данных и/или потребовать изменить, уничтожить свои персональные данные, позвонив Продавцу по телефону, указав свое имя, отчество, фамилию и адрес доставки.<br>
                                4.1.2.5. В соответствии с пунктом 4 статьи 16 Федерального закона от 27 июля 2006 г. № 149-ФЗ «Об информации, информационных технологиях и о защите информации» Продавец обязуется предотвращать попытки несанкционированного доступа к персональным данным Покупателя, предоставленных Продавцу; своевременно обнаруживать и пресекать такие попытки.<br>
                                4.1.2.6. Продавец не гарантирует постоянный или безусловный доступ к Сайту. Функционирование Сайта/Интернет-магазина может нарушаться действиями непреодолимой силы и иных фактов, предотвращение или преодоление которых выходит за пределы возможностей Продавца.
                        4.2. Продавец имеет право изменять в одностороннем порядке:<br>
                            - условия настоящей оферты;<br>
                            - цены на Товары, указанные на Сайте, до подтверждения Заказа Покупателя;<br>
                            - условия доставки и оплаты доставки Товаров;<br>
                            - способы, сроки и территорию доставки Товаров;<br>
                            - иные условия, указанные в настоящей оферте и на Сайте.<br>
                        4.3. Покупатель обязуется:<br>
                            4.3.1. до момента оформления Заказа на Сайте - ознакомиться с содержанием и условиями, установленными в настоящей оферте, а также с иными условиями, указанными на Сайте, в том числе с ценами на Товары, установленными в Интернет-Магазине, условиями доставки и оплаты, условиями гарантийного и сервисного обслуживания;<br>
                            4.3.2. предоставить достоверные персональные данные, необходимые для идентификации Покупателя и достаточные для совершения сделки с Продавцом и доставки Покупателю заказанных им Товаров;<br>
                            4.3.3. оплатить заказанные Товары на условиях настоящей оферты в оговоренном месте и/или оговоренное время при оформлении Заказа;<br>
                                4.3.3.1. при изменении места и/или времени доставки, которое было оговорено при оформлении Заказа, Покупатель соглашается понести дополнительные транспортные расходы;<br>
                            4.3.4. не использовать Товары, заказанные в Интернет-магазине, в предпринимательских целях;<br>
                            4.3.5. соблюдать условия, установленные в настоящей оферте, а также иные условия, указанные на Сайте.<br>
                        4.4. Покупатель имеет право:<br>
                            4.4.1. использовать Интернет-магазин после регистрации учетной записи Пользователя. Данные учетной записи являются исключительными и непередаваемыми. Покупатель гарантирует Продавцу соблюдение конфиденциальности учетных данных Покупателя, указанных при регистрации на Сайте. С момента подтверждения учетной записи Покупателя, любой Заказ, размещенный посредством учетной записи Покупателя на Сайте Продавца любым лицом, будет считаться Заказом, размещенным Покупателем.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        5. Условия использования материалов, размещенных на Сайте
                    </div>
                    <div class="answer">
                        5.1. Покупатель не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным способом использовать частично или полностью содержание Сайта.<br>
                        5.2. Покупатель обязуется использовать Сайт только в законных целях и не размещать на Сайте Продавца и не направлять посредством Сайта материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного согласия Продавца.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        6. Оформление и сроки выполнения заказа
                    </div>
                    <div class="answer">
                        6.1. Заказ Покупателя может быть оформлен следующими способами: принят по телефону или оформлен Покупателем самостоятельно на сайте посредством заполнения электронной формы Заказа на Сайте в рабочее время Продавца – ежедневно с 10:00 до 20:00 (мск). Заказ может быть сделан Покупателем только после прохождения процедуры регистрации на Сайте и указания своих достоверных данных. При оформлении Заказа по телефону и/или посредством электронной формы на Сайте, Покупатель тем самым подтверждает, что он ознакомлен с условиями настоящей оферты и обязуется предоставить Продавцу всю информацию, необходимую для надлежащего оформления и исполнения Заказа.<br>
                        6.2. При оформлении заказа Покупатель должен указать следующую информацию:<br>
                           a. Ф.И.О. потребителя либо получателя заказа;<br>
                           b. адрес доставки заказа;<br>
                           c. контактный телефон;<br>
                           d. адрес электронной почты (e-mail).<br>
                        6.3. После завершения процесса оформления Заказа, ему автоматически присваивается идентификационный номер. В подтверждение получения Заказа Продавцом, Покупателю направляются уведомления о поступившем Заказе: СМС на номер мобильного телефона и письмо на адрес электронной почты, указанные при оформлении заказа.<br>
                        6.4. Если Заказ, который был оформлен Покупателем в Интернет-магазине Продавца в рабочее время, не был подтвержден Продавцом, и Покупателем не предприняты действия, направленные на подтверждение актуальности Заказа (направление Продавцу сообщения по электронной почте или звонок по телефону Продавца, указанный на Сайте), то через 48 часов с момента его направления Заказ считается аннулированным.<br>
                        6.5. Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках товара, включая цвета, размеры и формы. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Покупатель должен обратиться за разъяснениями к Продавцу. Все изображения на сайте размещены в ознакомительных целях. Внешний вид товара может отличаться от представленного на фотографиях.<br>
                        6.6. Покупатель может заказать только те Товары, которые представлены в меню на Сайте в момент оформления Заказа. Если у Продавца отсутствует необходимое количество или ассортимент заказанных Покупателем Товаров, Продавец информирует об этом Покупателя по телефону или по электронной почте в течение 3 часов после получения Заказа от Покупателя. Покупатель вправе согласиться принять Товары в ином количестве или ассортименте, либо аннулировать свой Заказ. В случае неполучения ответа Покупателя в течение 3 часов с момента направления Продавцом соответствующего уведомления Покупателю, Продавец аннулирует Заказ Покупателя в полном объеме.<br>
                        6.7. Покупатель не имеет право в одностороннем порядке изменить состав Товаров в Заказе после получения сообщения о сборке Заказа.<br>
                        6.8. Ожидаемый срок доставки Товара (готовности Товара к самовывозу, передачи в Пункт выдачи или отправки в Службу доставки) указывается на Сайте рядом с Товаром. При этом статус Товара «под заказ» означает отсутствие Товара в наличии у Продавца. При этом Продавцом будут предприняты все необходимые действия для получения Товара у поставщиков в целях передачи Покупателю. Срок доставки Товара в указанных случаях будет сообщен Покупателю после получения Продавцом подтверждения наличия Товара у поставщика и может быть привязан к получению суммы предоплаты за Товар от Покупателя. Информация об ожидаемой дате доставки Товара в иных случаях предоставляется Покупателю путём отправки письма на адрес электронной почты.<br>
                        6.9. Статус Товара «изготовление под заказ» предполагает изготовление Продавцом под Заказ Покупателя индивидуально-определенной вещи – персонального компьютера (ЭВМ) в конфигурации и с характеристиками, указанными Покупателем при оформлении Заказа (комплектующие, цвет, оформление, предустановленное программное обеспечение и т.д.). Срок изготовления Товара сообщается Покупателю путём отправки письма на адрес электронной почты.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        7. Доставка
                    </div>
                    <div class="answer">
                        7.1. Способы доставки Товаров указаны на Сайте.<br>
                        7.2. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Товара и проставления Покупателем (иным лицом в соответствии с действующим законодательством и настоящей офертой) подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Покупателю стоимость предоплаченного Товара и доставки после получения подтверждения утраты Заказа от Службы доставки.<br>
                        7.3. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из его веса, региона и способа доставки, а иногда и формы оплаты, и указывается на последнем этапе оформления Заказа на Сайте. Стоимость доставки фиксирована и не зависит от количества принятых позиций Товара Покупателем при его получении (при частичной приемке), и не подлежит возврату в случае полного отказа Покупателя от приемки Товара.<br>
                        7.4. При доставке Заказ вручается Покупателю либо лицу, указанному в качестве получателя Заказа. В случае указания в качестве адреса доставки адреса места жительства (квартиры) Покупателя, надлежащей доставкой является передача Товара любому совершеннолетнему лицу, находящемуся по указанному адресу.<br>
                        7.5. Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств в пункте 7.4., при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность получателя, а также указать тип и номер предоставленного получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональной информации получателя.<br>
                        7.6. При приемке Заказа от курьера, представителя транспортной компании или представителя Продавца, Покупатель обязан проверить внешний вид и упаковку Товара, количество единиц Товара в Заказе, комплектность, ассортимент, а так же Покупатель обязан проверить работоспособность Товара.<br>
                        После проведения указанной проверки Покупатель подписывает акт приема-передачи Товара и это означает приемку Товара Покупателем, согласие Покупателя со всеми потребительскими свойствами Товара и подтверждает факт полного информирования Покупателя о Товаре. Претензии, связанные с наличием внешних повреждений Товара (явных дефектов) после приемки Товара Покупателем, не принимаются.<br>
                        7.7. Конечные сроки получения Товара Покупателем зависят от адреса и региона доставки (за исключением г. Москвы), работы конкретной Службы доставки, и напрямую не зависят от Продавца.<br>
                        7.8. Товар хранится на складе Пункта выдачи заказов в течение 2 дней с момента поступления. Покупатель уведомляется о поступлении Товара в согласованный Пункт выдачи заказов путем направления СМС на указанный номер телефона и сообщения на адрес электронной почты. Неполучение Товара Покупателем в указанные сроки считается отказом Покупателя от договора купли-продажи и является основанием для аннулирования заказа Продавцом. Если неполученный Заказ был предоплачен, денежные средства возвращаются Покупателю, за исключением стоимости доставки Товара.<br>
                        7.9. В случае аннуляции полностью либо частично предоплаченного Заказа стоимость неполученного Товара возвращается Продавцом Покупателю тем способом, которым Товар изначально был предоплачен. В случае, если аннуляция Заказа (полная или частичная) произведена Покупателем после передачи собранного Заказа в Службу доставки, Продавец вправе удержать из суммы предоплаты стоимость услуг по доставке Товара. В случае, если Покупателем оплата Товара не была произведена до аннуляции, за Продавцом остается право требования к Покупателю на получение стоимости услуг по доставке. Данное право требование может быть реализовано Продавцом за счет любых денежных средств, поступивших от этого же Покупателя в течение трех лет с даты аннуляции Заказа.<br>
                        7.10. В случае, если доставка Товара невозможно по вине Покупателя:<br>
                           - Покупатель отсутствует по адресу доставки;<br>
                           - по адресу доставки отсутствует лицо, которое могло бы принять Товар для передачи его Покупателю;<br>
                           - Покупатель не открыл дверь;<br>
                           - Покупатель не отвечает на телефонные звонки и звонки в домофон, либо недоступен, либо его телефон выключен;<br>
                           - у Покупателя недостаточно средств для расчёта за Товар;<br>
                           - Покупатель указал неточный (неверный) адрес доставки, либо номер телефона;<br>
                           - иные случаи, за которые несет ответственность Покупатель, последующая доставка производится в новые сроки, согласованные с Продавцом, но не ранее повторной оплаты Покупателем стоимости услуг по доставке Товара. В случае, если повторная доставка не была произведена в течение 3-х календарных дней, Продавец вправе аннулировать Заказ Покупателя и возложить на последнего все расходы, связанный с доставкой Товара, в том числе расходы на возврат Товара Продавцу.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        8. Оплата Товаров
                    </div>
                    <div class="answer">
                        8.1. Цена Товара указывается на Сайте. Цена заказного Товара не может быть изменена Продавцом в одностороннем порядке, за исключением случаев просрочки оплаты Покупателем. Цена Товара указывается на последнем этапе оформления Заказа и действительна на момент нажатия кнопки «Подтвердить заказ».<br>
                        8.2. Способы оплаты Товара указаны на Сайте в разделе «Способы оплаты». Согласованным способом оплаты считается способ, выбранный Покупателем из доступных способов оплаты при оформлении Заказа. В случае, если условием размещения Заказа является предоплата, Покупатель обязуется произвести оплату в течение 5 рабочих дней с даты подтверждения Заказа. При нарушении Покупателем указанного срока оплаты, Продавец не гарантирует, что цена на Товар не изменится по независящим от него причинам (вырастет стоимость комплектующих, повысит цену поставщик товара и т.д.).<br>
                        8.3. В случае, если при подтверждении Заказа, Покупателю сообщены условия о необходимости произвести предоплату Товара, Заказ принимается в обработку только после зачисления денежных средств Покупателя на расчетный счет (в кассу) Продавца.<br>
                        8.4. Особенности оплаты товара с помощью банковских карт:<br>
                            8.4.1. В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 №266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.<br>
                            8.4.2. При совершении оплаты Товара с помощью банковской карты в Пункте выдачи заказов у Покупателя могут потребовать предъявление документа, удостоверяющего личность, за исключением случая оплаты неименной банковской картой.<br>
                            8.4.3. Порядок оплаты с помощью банковских карт указан на сайте в разделе «Способы оплаты заказа. Банковская карта».<br>
                            8.4.4. Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.<br>
                            8.5.5. Во избежание случаев различного рода неправомерного использования банковских карт при оплате, все Заказы, оформленные на Сайте и предоплаченные банковской картой, проверяются Продавцом.<br>
                        8.6. Продавец вправе предоставлять Покупателю скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на Сайте в разделе «Акции» и могут быть изменены Продавцом в одностороннем порядке без предварительного уведомления Покупателя.<br>
                        8.7. Продавец вправе устанавливать скидки в целях продвижения того либо иного способа оплаты или доставки Товара. При этом Продавец может ограничивать условия действия скидок.<br>
                        8.8. Моментом расчета при оплате онлайн банковской картой или электронными деньгами считается момент отгрузки (передачи) Товара Покупателю.<br>
                        8.9. На сумму предоплаты не начисляются проценты, пени.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        9. Возврат Товара
                    </div>
                    <div class="answer">
                        9.1. Возврат товара надлежащего качества.<br>
                            9.1.1. Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения товара - в течение 7 дней, не считая дня покупки. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара. Покупатель не вправе отказаться от индивидуально-определенного Товара (п.6.9. настоящей оферты).<br>
                            9.1.2. При отказе Покупателя от Товара согласно п.9.1.1. оферты Продавец, на основании письменного заявления Покупателя возвращает ему стоимость Товара надлежащего качества, возвращенного Покупателем, за исключением расходов Продавца на доставку от Покупателя возвращенного Товара, не позднее чем через 10 дней с даты получения Продавцом письменного заявления Покупателя.<br>
                            9.1.3. Возврат принятого Покупателем Товара надлежащего качества, осуществляется по адресу Продавца 127018, г. Москва, ул. Складочная 1с10 ежедневно с 10.00 до 20.00 (мск).<br>
                        9.2. Возврат Товара ненадлежащего качества<br>
                            9.2.1. Покупатель может возвратить Товар ненадлежащего качества и потребовать защиты своих прав одним из способов, установленным п. 1 ст. 18 Закона РФ «О защите прав потребителей».<br>
                        9.3. Возврат денежных средств<br>
                            9.3.1. В случае отказа Покупателя от договора и предъявления требования о возврате уплаченной за Товар денежной суммы, стоимость Товара подлежит возврату Покупателю в течение 10 дней с момента получения Продавцом письменного заявления Покупателя.<br>
                            9.3.2. В случае удовлетворения Продавцом требований Покупателя о возврате Товара надлежащего качества денежные средства выдаются наличными на основании письменного заявления Покупателя, кассового чека, и паспорта гражданина РФ, либо путем перевода на банковскую карту Покупателя (если оплата Покупателем производилась с использованием банковской карты).<br>
                            9.3.3. В случае возврата Покупателем Товара ненадлежащего качества денежные средства возвращаются только после обязательного проведения проверки качества Товара либо наличными денежными средствами в региональном пункте выдачи товаров, либо, по заявлению Покупателя, перечисляются на его банковский счет.<br>
                            9.3.4. В случае возврата Товара, как надлежащего, так и ненадлежащего качества, приобретённого через агентскую сеть, возврат денежных средств производится Продавцом в безналичной форме по заявлению Покупателя только после обязательного проведения Продавцом проверки качества (или сохранности товарного вида) Товара. Продавец обязуется вернуть денежные средства в течение 10 дней с момента получения Продавцом Товара и письменного заявления Покупателя. Обязательство Продавца по выплате денежных средств прекращаются с даты списания денежных средств с корреспондентского счёта банка Продавца.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        10. Передача имущественных прав на программное обеспечение для ЭВМ
                    </div>
                    <div class="answer">
                        10.1. В случае, если в состав Заказа Покупателя входит Программное обеспечение, то с момента передачи Товара Покупателю считается заключенным сублицензионный договор между Продавцом (Лицензиат) и Покупателем (Сублицензиат) на предоставление прав использования Программного обеспечения на условиях, указанных ниже. Документ (акт, накладная), подтверждающий получение Покупателем Товара, одновременно является подтверждением передачи Покупателю лицензии на использование Программного обеспечения, установленного на переданном Товаре<br>
                        10.2. Продавец (Лицензиат) подтверждает, что на основании лицензионного соглашения, заключенного с правообладателем Программного обеспечения, ему предоставлено право передавать конечному пользователю, находящемуся на территории России, права на использование Программного обеспечения в установленных настоящей офертой пределах.<br>
                        10.3. Наименование, конфигурация и количество пользовательских лицензий Программного обеспечения указывается в Заказе Покупателя. Программное обеспечение, права на использование которого предоставляется на основании сублицензионного соглашения, является предустановленным, то есть не имеет материального носителя (не является экземпляром программного обеспечения) и неразрывно связанно с передаваемым Покупателем Товаром.<br>
                        10.4. Продавец предоставляет Покупателю простую (неисключительную) лицензию на Программное обеспечение. Способ использования Программного обеспечения ограничен правом инсталляции, копирования, запуска и изготовления резервной копии. Территория использования – Российская Федерация, срок использования – не ограничен. Иные условия сублицензионного соглашения для Программного обеспечения, в том числе ограничения по сроку использования лицензии, могут быть установлены в Заказе Покупателя.<br>
                        10.5. Для подтверждения правомерности использования Покупателем Программного обеспечения, если иное не предусмотрено лицензионным соглашением Продавца с правообладателем Программного обеспечения, Продавец передает Покупателю электронный ключ, голограмму, цифровой код, идентификатор лицензии, размещаемый непосредственно на Товаре (компьютере, ноутбуке), в виде отдельного файла, либо в виде информации, содержащейся в установленном Программном обеспечении в разделе «сведения о лицензии» (в зависимости от вида Программного обеспечения).<br>
                        10.6. За предоставление неисключительной лицензии на Программное обеспечение Покупатель уплачивает Продавцу единоразовый платеж, размер которого указан на Сайте Продавца и зафиксирован в подтвержденном Заказе Покупателя.<br>
                        10.7. В случае возврата Товара Покупателем Продавцу по любому основанию сублицензионный договор считается прекратившим свое действие в момент передачи Товара с установленным Программным обеспечением Продавцу или в Службу доставки. Возврат денежных средств Покупателю осуществляется на общих основаниях. Если на момент возврата Товара (например, на условиях гарантии Продавца) срок предоставленной на основании сублицензионного договора лицензии истек, стоимость неисключительной лицензии на Программное обеспечение Покупателю не возвращается.<br>
                        10.8. Компания не несет ответственности за функционирование отдельного программного обеспечения, а также за возможные критические ошибки ввиду совокупного использования нескольких программ.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        11. Гарантия
                    </div>
                    <div class="answer">
                        11.1. Гарантия на проданный Товар подразумевает под собой его бесплатный ремонт либо замену на аналогичный товар в случае невозможности ремонта либо расторжение договора купли-продажи и возврат денег за Товар, в порядке, установленном законодательством о защите прав потребителей.<br>
                        11.2. Товар принимается на гарантийное обслуживание в той же комплектности, в которой он был приобретен.<br>
                        11.3. Гарантийный ремонт оборудования потребителей (физических лиц) производится в срок не более 45 дней и не более 90 дней для юридических лиц.<br>
                        11.4. Сроки исполнения Продавцом обязанностей в отношении Товаров надлежащего и ненадлежащего качества, установленные Законом «О защите прав потребителей», начинают течь с момента передачи Товара Покупателем Продавцу.<br>
                        11.5. В отношении Товара, на который установлен гарантийный срок, Продавец (изготовитель), уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер отвечает за недостатки Товара, если не докажет, что они возникли после передачи Товара Покупателю вследствие нарушения Покупателем правил использования, хранения или транспортировки Товара, действий третьих лиц или непреодолимой силы.<br>
                        11.6. Гарантийный срок на Товар, изготовленный Продавцом, составляет 1 (один) год. Условия гарантийного обслуживания указаны на Сайте в разделе «Условия гарантии». Покупатель вправе приобрести расширенное гарантийное обслуживание на условиях, указанных в разделе «Варианты обслуживания» и выбрав соответствующую опцию в конфигураторе Товара.<br>
                        11.7. Гарантийные сроки и условия предоставления гарантии на иные Товары, реализуемые Продавцом, устанавливаются производителями Товара. В случае, если гарантийный срок не указан в технической и иной документации, прилагаемой к Товару, он считается равным 30 дням.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        12. Конфиденциальность и защита персональной информации
                    </div>
                    <div class="answer">
                        12.1. Предоставление информации Покупателем:<br>
                            12.1.1. При оформлении заказа Покупатель предоставляет следующую информацию: имя, фамилию, отчество, телефон, адрес электронной почты.<br>
                        12.2. Предоставляя свои персональные данные при оформлении Заказа, Покупатель соглашается на их обработку Продавцом, в том числе и в целях продвижения продавцом товаров и услуг.<br>
                        12.3. Продавец вправе направлять Покупателю сообщения рекламно-информационного характера. Если Покупатель не желает получать рассылки от Продавца, он может самостоятельно отписаться от рассылки, перейдя по специальной ссылке в письме или уведомить об этом Продавца, направив электронное письмо в службу по работе с клиентами.<br>
                        12.4. Положение о конфиденциальности и защите персональных данных можно прочитать по ссылке: user/privacy-policy<br>
                        12.5. Продавец вправе осуществлять записи телефонных разговоров с Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу её третьим лицам, не имеющим непосредственного отношения к исполнению Заказов.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        13. Ответственность сторон
                    </div>
                    <div class="answer">
                        13.1. За неисполнение или ненадлежащее исполнение условий заключенного договора розничной купли-продажи (заключенного посредством акцептованной Покупателем оферты Продавца) Стороны несут ответственностью в соответствии с законодательством РФ.<br>
                        13.2. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования им Товаров, приобретённых в Интернет- магазине.<br>
                        13.3. Продавец не отвечает за убытки Покупателя, возникшие в результате неправильного заполнения Заказа, в том числе неправильного указания персональных данных.<br>
                        13.4. Покупатель несёт полную ответственность за достоверность сведений и персональных данных, указанных им при регистрации в Интернет-магазине.<br>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        14. Прочие условия
                    </div>
                    <div class="answer">
                        14.1. Настоящая оферта вступает в силу с момента совершения Покупателем действий, направленных на регистрацию учетной записи (логина) в Интернет- магазине.<br>
                        14.2. Все споры, связанные с неисполнением или ненадлежащим исполнением своих обязательств по настоящему Договору, Стороны будут стараться решить путем переговоров.<br>
                        14.3. В случае не достижения согласия в ходе переговоров, споры будут разрешаться в судебном порядке в суде общей юрисдикции по месту нахождения Продавца.<br>
                        <p style="text-decoration-line: underline">Внимательно ознакомьтесь с текстом публичной оферты, и если Вы не согласны с каким-либо пунктом оферты, Вы вправе отказаться от покупки Товаров, предоставляемых Продавцом, и не совершать действий, указанных в настоящей Оферте.</p><br>
                    </div>
                </div>
                
            </div>

        </main>
{% endblock %}