{% extends 'mcshop/pc_series_pages/base.html' %}
{% load static %}

{% block title %}Alpha{% endblock %}
{% block url_series %}{% url 'mcshop:powerful' %}{% endblock %}
{% block series_name %}Мощные{% endblock %}
{% block model_name %}Alpha{% endblock %}

{% block content %}
            <section class="model_alpha">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-12 mb">
                            <h2 class="section-title">
                                <span>Серия Alpha</span>
                            </h2>
                        </div>
                    </div>

                    <section class="advantages" style="background-color: var(--bg-color); padding: 0 0 5px 0;">
                        <div class="container">
                            <div class="row gy-3 items">
                                <div class="col-lg-5 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-hard-drive"></i></p>
                                        <p>Производительные видеокарты оптимальных серий с современной архитектурой и технологиями</p>
                                        <p></p>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-microchip"></i></p>
                                        <p>Современные многоядерные процессоры с большим количеством потоков, высокой тактовой частотой и вычислительной мощью</p>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-memory"></i></p>
                                        <p>Оптимальный объем памяти под любые потребности с высокой пропускной способностью и скоростью обработки данных</p>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-fan"></i></p>
                                        <p>Продвинутая система охлаждения, быстро отводящая тепло от процессора</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <div class="model-cards row" style="padding-top: 15px">
                        {% for product in products %}
                            <div class="alpha col-md-4 col-sm-6 col-12">
                            <div id="carouselAlpha" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ product.image.url }}" class="d-block w-100" alt="1">
                                    </div>
                              </div>
                            </div>
                            <div class="avg-fps-bar mt-2">
                                <div class="avg-fps-value">
                                    AVG.FPS - {{ product.avg_fps }}
                                </div>
                                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px; --bs-progress-bar-bg: #712cf9">
                                    <div class="progress-bar" style="width: 44%"></div>
                                </div>
                            </div>
                            <div class="card-series-title row">
                                <div class="card-naming justify-content-start col-8">
                                    {{ product.name }}
                                </div>
                                <div class="card-price d-flex justify-content-end col-4">
                                    Цена {{ product.price }} ₽
                                </div>
                                <div class="details-button col-6 d-flex justify-content-start">
                                    <a class="btn btn-dark" href="{% url 'mcshop:product_detail' product.slug  %}">
                                        Подробнее
                                    </a>
                                </div>
                                <div class="product-add2cart col-6 d-flex justify-content-end">
                                    <button class="btn btn-dark">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        В корзину
                                    </button>
                                </div>
                            </div>
                            <div class="card-series-main mt-3 row">

                                <div class="card-description-main col-12">
                                    {{ product.description }}
                                </div>
{#                                <div class="product-add2config col-6 d-flex justify-content-start pt-5">#}
{#                                    <button class="btn btn-dark">#}
{#                                        <i class="fa-solid fa-gear"></i>#}
{#                                        <a class="cards-anchor" href="{% url 'mcshop:configurator' %}">Конфигуратор</a>#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                            <div class="card-series-description">
                                <div class="card custom-card my-3">
                                        <div class="card-body">
                                            <h5 class="card-title">Комплектующие</h5>
                                            <ul class="list-unstyled">
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Видеокарта:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.graphic_card }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Процессор:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.processor }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Материнская плата:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.motherboard }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Оперативная память:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ram }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>SSD накопитель:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.ssd }}
                                                    </div>
                                                </li>
                                                <li class="list-elements">
                                                    <div class="card-teaser">
                                                        <span>Блок питания:</span>
                                                    </div>
                                                    <div class="card-description">
                                                        {{ product.power_unit }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <section class="advantages" style="background-color: var(--bg-color);">
                        <div class="container">
                            <div class="row gy-3 items">
                                <div class="col-4">
                                    <div class="item">
                                        <p><i class="fa-solid fa-arrow-right"></i></p>
                                        <p>Почему выбирают нас?</p>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <div class="item">
                                        <p>Выбор COMPUTERSHOP — это не просто выбор компьютера. Это выбор команды профессионалов, которые заботятся о вашем игровом и профессиональном опыте, и продукта, который превосходит все ваши ожидания.</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-computer"></i></p>
                                        <p>Выбирая нас, вы получаете не просто компьютер, а мощное игровое или профессиональное решение. Наши системы оснащены последними инновациями в области производительности, обеспечивая вам бесперебойную и высокоскоростную работу.</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-palette"></i></p>
                                        <p>Мы верим, что дизайн имеет значение. Каждый наш компьютер — это сочетание элегантности и функциональности. Наш подход к дизайну учитывает не только внешний вид, но и удобство использования. Мы создаём продукты, которые выглядят впечатляюще и дополняют ваш опыт.</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-star"></i></p>
                                        <p>Качество — в сердце каждого нашего компьютера. Мы используем только высококачественные компоненты и строго контролируем процесс производства. Наша цель — обеспечить вам компьютер, который не только справится с любой задачей, но и прослужит вам годы.</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <p><i class="fa-solid fa-magnifying-glass"></i></p>
                                        <p>Выбрав COMPUTERSHOP, вы выбираете не только продукт, но и команду. Мы предлагаем беспрецедентную поддержку и сервис на каждом этапе вашего пути. От консультаций перед покупкой до послепродажного обслуживания — мы всегда рядом, чтобы обеспечить вам лучший опыт.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>
            </section>
{% endblock %}
