{% extends 'base_generic.html' %}

{% block main %}

            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs custom-breadcrumbs">
                            <ul>
                                <li><a href="{% url 'mcshop:home' %}">Главная</a></li>
                                <li><a href="{% block url_series %}{% endblock %}">{% block series_name %}base_series_name{% endblock %}</a></li>
                                <li><span>{% block model_name %}base_model_name{% endblock %}</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            {% block content %}

            {% endblock %}
{% endblock %}